:root {
  font-family: Rubik, Inter, arial;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.871);

  --dark-color: rgb(0, 0, 0);
  --container-color: rgb(27, 27, 27);
  --darker-container-color: rgb(10, 10, 10);
  --light-color: #f6f6f6;
  --accent-color: #ff0000;
  --darker-accent-color: #ff0000d2;
  --text-color: #b8b8b8;
  --title-color: #ffffff;

  --success-color: rgba(0, 200, 80, 0.1);
  --success-darker-color: #007e33;
  --info-color: rgb(51, 181, 229, 0.1);
  --info-darker-color: #0099cc;
  --warning-color: rgb(255, 187, 51, 0.1);
  --warning-darker-color: #ff8800;
  --error-color: rgb(241, 68, 68, 0.1);
  --error-darker-color: #cc0000;

  --meat-color: rgba(128, 51, 0, 0.1);
  --meat-darker-color: #6d2c00;
  --veggie-color: var(--success-color);
  --veggie-darker-color: var(--success-darker-color);
  --drink-color: rgba(126, 126, 126, 0.1);
  --drink-darker-color: #8f8f8f;

  --disabled-color: #616161;
  --disabled-darker-color: #363636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
  transition: color 0.2s;
}
a:hover {
  color: var(--darker-accent-color);
}

body {
  background-color: var(--dark-color);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

button,
input,
select {
  font-family: Rubik, Inter, arial;
}

.container {
  max-width: 1200px;
  margin: 0 2rem;
  // border-left: 1px dashed var(--accent-color);
  // border-right: 1px dashed var(--accent-color);

  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #050f16;
    background-color: #ffffff;
  }
}
