:root {
  font-family: Rubik, Inter, arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #050f16;

  --accent-color: #ff0000;
  --text-color: #b8b8b8;
  --title-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #ff0000d2;
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color);
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px dashed var(--accent-color);
  border-right: 1px dashed var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #050f16;
    background-color: #ffffff;
  }
}
